# Common & Gateway
NODE_ENV=development
API_GATEWAY_PORT=3000
USER_SERVICE_PORT=3001
MARKETPLACE_SERVICE_PORT=3002
FINANCIAL_SERVICE_PORT=3003
COMMUNICATION_SERVICE_PORT=3004

# Auth
JWT_SECRET=super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# PostgreSQL Databases
DATABASE_URL_USER="postgresql://postgres:postgres@localhost:5432/user_db?schema=public"
DATABASE_URL_MARKETPLACE="postgresql://postgres:postgres@localhost:5432/marketplace_db?schema=public"
DATABASE_URL_FINANCIAL="postgresql://postgres:postgres@localhost:5432/financial_db?schema=public"
DATABASE_URL_COMMUNICATION="postgresql://postgres:postgres@localhost:5432/communication_db?schema=public"

# MongoDB
MONGODB_URI="mongodb://localhost:27017/tebeka_communication"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_URI="amqp://guest:guest@localhost:5672"

# Storage (Multer / Local)
LOCAL_UPLOAD_DIR="./uploads"

# Mailer (Nodemailer / SMTP - Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
MAIL_FROM="your-email@gmail.com"
MAIL_FROM_NAME="Tebeka Legal Portal"

# AfroMessage SMS & OTP Gateway
AFROMESSAGE_TOKEN="your-afromessage-token"
AFROMESSAGE_SENDER="NORDIC ICT"
AFROMESSAGE_IDENTIFIER="your-afromessage-identifier"
AFROMESSAGE_BASE_URL="https://api.afromessage.com/api"
AFROMESSAGE_VERIFY_SSL=false
